
<ng-container>
  <div class="spinner-wrapper fade-in" *ngIf="!showContentIf && !showTimeContent"  [ngStyle]="{'height.%': height , 'width.%': width }">
    <svg class="spinner" class="spinner fade-in" width="70px" height="70px" viewBox="0 0 66 66">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <h2 class="loading-title"> Loading... </h2>
  </div>
  
  <p class="time-out-msg" *ngIf="showTimeContent && !showContentIf">
    Something went wrong.
  </p>
  <ng-content *ngIf="showContentIf"></ng-content>
</ng-container>
