.spinner-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  opacity: 0.2;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  .spinner{
    margin: 0 auto;
    text-align: center;
  }
  .loading-title {
    padding: 1em;
  }
}

.time-out-msg {
  padding: 1em;
  margin: 0 auto;
  
}


