
<app-content-loader class="content-loader" [showContentIf]="storesList.length && ordersForm"> 
  <div class="content-wrapper">
    <form class="row form" [formGroup]="ordersForm" (ngSubmit)="getReport()">
      
      <div class="col-lg-4 input-wrapper" ngbDropdown #suggestionsMenu="ngbDropdown">
        <input ngbDropdownAnchor autofocus type="text" formControlName="storeName" class="form-control" placeholder="Search for a store..."
        (focus)="subscribeToStoreInputChanges()" (focusout)="unsubscribeFromStoreNameInput()">
        <svg class="spinner" *ngIf="isSpinnerActive" class="spinner fade-in" width="25px" height="25px" viewBox="0 0 66 66">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <div ngbDropdownMenu class="ngb-dropdown-menu fade-in" aria-labelledby="suggestionsMenu">
          <button class="dropdown-item" type="button" *ngFor="let suggestion of availableStoresSuggestion" (click)="selectStore(suggestion)"> {{ suggestion.Name }}</button>
        </div>
        <div *ngIf="ordersForm.controls['storeName'].errors?.noMatch && !isSpinnerActive" class="no-result fade-in"> No active stores. </div>
      </div>
      
      <div class="col-lg-2 input-wrapper" ngbDropdown #posMenu="ngbDropdown">
        <input ngbDropdownToggle type="text" (keypress)="false" formControlName="pos" class="form-control" placeholder="Pick a POS" >
        <div ngbDropdownMenu class="ngb-dropdown-menu fade-in" aria-labelledby="posMenu">
          <button class="dropdown-item" type="button" *ngFor="let pos of storePosList" (click)="selectPos(pos)"> {{ pos.Name }}</button>
        </div>
      </div>
      
      <div class="input-group datepicker col-lg-2 fade-in">
        <input class="form-control input-wrapper" autocomplete="off" (keypress)="false" placeholder="yyyy-mm-dd" name="dp"
        (click)="d.toggle()" formControlName="startDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append" (click)="d.toggle()">
          <button class="btn btn-outline-secondary" type="button"><i class="far fa-calendar-alt"></i></button>
        </div>
      </div>
      
      <div class="input-group datepicker col-lg-2 fade-in">
        <input class="form-control input-wrapper" autocomplete="off" (keypress)="false" placeholder="yyyy-mm-dd"  name="dp"
        (click)="e.toggle()" [minDate]="ordersForm.controls['startDate'].value" formControlName="endDate" ngbDatepicker #e="ngbDatepicker">
        <div class="input-group-append" (click)="e.toggle()">
          <button class="btn btn-outline-secondary" type="button"><i class="far fa-calendar-alt"></i></button>
        </div>
      </div>
      
      <button type="submit" [ngClass]="{'btn submit': true, 'btn-outline-success': ordersForm.valid, 'btn-outline-secondary': !ordersForm.valid}" [disabled]="!ordersForm.valid">Submit</button>
    </form>
    <app-report-table *ngIf="isFormSubmitted" class="report-content"> </app-report-table>
  </div>
</app-content-loader>