@import '../../styles.scss';

.content-wrapper {
    height: 65vh;
    overflow-y: auto;
    .table {
        width: 100%;
        margin-bottom: 1rem;
        tbody > tr {
            cursor: pointer;
        }
    }
    
}