<app-content-loader class="fade-in" [showContentIf]="ordersTableData?.length > 0" onFalseUserMessage="No orders were found."> 
<div class="content-wrapper">
  <!-- <p class="fade-in" *ngIf="displayNoDataMessage"> No orders were found. </p> -->
  <table class="table fade-in">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersTableData">
        <td *ngFor="let key of tableKeys"> {{ order[key] }} </td> 
      </tr>
    </tbody>
  </table>
</div>
</app-content-loader>