<app-content-loader class="fade-in" [showContentIf]="ordersTableData?.length > 0 || displayNoDataMessage"> 
<div class="content-wrapper fade-in">
  <p *ngIf="displayNoDataMessage"> No orders were found. </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersTableData">
        <td *ngFor="let key of tableKeys"> {{ order[key] }} </td> 
      </tr>
    </tbody>
  </table>
</div>
</app-content-loader>