@import '../../../styles.scss';


table{
    // width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

table tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 45vh;
}
table thead {
    height: 2vh;
}
table thead tr, tbody tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


table th, table td {
    text-align: center;
    font-size: 0.9em;
    padding: 0;
    width: 150px;
}
td:nth-child(1), th:nth-child(1) { width: 50px !important }
td:nth-child(3), th:nth-child(3) { width: 150px !important }
td:nth-child(4), th:nth-child(4) { width: 150px !important }

.actions-menu, .pos-details {
    cursor: pointer;
}