.spinner-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
  .spinner{
    margin: auto;
    text-align: center;
  }
  .loading-title {
    position: absolute;
    margin: auto;
    top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    width: fit-content;
  }
}

.time-out-msg {
  @extend .spinner-wrapper;
  margin: auto;
  
}


